---
import { Image } from "astro:assets";
import logo from "@/assets/logo.webp";
---

<a href="/" class="flex items-center gap-2">
    <Image
        src={logo}
        alt="Doppelganger"
        width={100}
        height={100}
        class="w-9 h-9"
    />
</a>
