---
import Logo from "@/components/logo.astro";
---

<nav class="flex items-center justify-between w-full py-8 px-6">
    <Logo />
    <ul class="flex items-center gap-8 text-sm text-black/60">
        <li>
            <a href="/manifesto">Manifesto</a>
        </li>
    </ul>
</nav>
